.breadcrumbs {
  color: #5e6471;
  font-size: px-to-rem(12px);

  a {
    text-decoration: none;
    color: #5e6471;

    &:hover {
      text-decoration: underline;
    }

  }

}

.breadcrumbs__separator {
  margin-left: 5px;
  margin-right: 5px;
}