.contacts {
  border-radius: 10px;
  box-shadow: 30px 22px 44px 0 rgba(114, 114, 114, 0.2);
  background-color: #ffffff;
}

.contacts__title {
  font-size: px-to-rem(20px);
  line-height: 24px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #515151;
  margin: 0 0 15px;
}

.contacts__director {
  font-size: px-to-rem(20px);
  line-height: px-to-rem(25px);
  font-weight: 700;
  color: #515151;
  margin: 15px 0;

  span {
    color: $second;
    display: block;
  }

}

.contacts__phone {
  display: block;
  padding-left: 33px;
  background: url("../img/phone.svg") left center no-repeat;
  background-size: 14px 18px;
  color: #515151;
  font-size: px-to-rem(18px);
  line-height: px-to-rem(24px);
  text-decoration: none;
  font-weight: 600;
  margin: 5px 0;
}

.contacts__mail {
  display: block;
  padding-left: 33px;
  background: url("../img/mail.svg") left center no-repeat;
  background-size: 18px 18px;
  color: #515151;
  font-size: px-to-rem(18px);
  line-height: px-to-rem(24px);
  text-decoration: none;
  font-weight: 600;
  margin: 5px 0;
}

.contacts__address {
  font-size: px-to-rem(18px);
  line-height: px-to-rem(23px);
  font-weight: 700;
  color: #515151;
  margin: 15px 0;

  span {
    color: $second;
    display: block;
  }

}

.contacts__work {
  font-size: px-to-rem(20px);
  line-height: px-to-rem(25px);
  font-weight: 700;
  color: #515151;
  margin: 25px 0 15px;
  text-transform: uppercase;
  font-family: "Montserrat";

  span {
    font-family: "lato";
    display: block;
    font-weight: 600;
    text-transform: initial;
    font-size: 18px;
  }

}