.header {
  position: relative;
  background: url("../img/platon.png") right bottom no-repeat, url("../img/circle.png") calc(100% + 150px) calc(100% + 195px) no-repeat;

  &::after {
    opacity: 0.1;
    -webkit-text-stroke: 1px #707070;
    font-size: px-to-rem(259px);
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    content: "Moisok";
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
  }
  
  &::before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: #fafafa;
    position: absolute;
    left: 0;
    bottom: 0;
  }

}

.header__wrap {
  padding-top: 120px;
}

.header__title {
  margin-top: 160px;
  font-size: px-to-rem(53px);
  line-height: px-to-rem(60px);
  font-weight: 800;
  max-width: 1090px;
  color: $primary;

  span {
    color: $second;
  }

}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 810px;
  box-sizing: border-box;
  margin-top: 36px;
  margin-bottom: 36px;
}

.header__item {
  padding-left: 50px;
  font-size: px-to-rem(33px);
  line-height: px-to-rem(40px);
  color: $primary;
  margin: 10px 0;
  background: url("../img/check.svg") left 10px no-repeat;
  -webkit-background-size: 30px;
  background-size: 30px;
}

.header__button {
  @include button;
  max-width: 434px;
  margin-right: 36px;
}

.header__two-block {
  margin-top: 36px;
  display: flex;
  align-items: center;
}

.header__audit {
  font-size: px-to-rem(18px);
  line-height: px-to-rem(40px);
  font-weight: 500;
  color: $primary;
  padding-left: 38px;
  padding-right: 35px;
  text-decoration: none;
  background: url("../img/pdf.svg") left center no-repeat, url("../img/download.svg") right center no-repeat;

  &:hover {
    animation-name: download;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
  }

}

.header__socials {
  margin-top: 66px;
  margin-bottom: 42px;
}

@keyframes download {
  0% {
    background-position: left center, right 50%;
  }
  50% {
    background-position: left center, right 0;
  }
  100% {
    background-position: left center, right 50%;
  }
}

@media (max-width: 1540px) {

  .header {
    background-size: auto auto, 800px auto;
    background-position: calc(100% + 200px) bottom, calc(100% + 200px) bottom;
  }

}

@media (max-width: 1500px) {

  .header {
    background-size: auto auto, 800px auto;
    background-position: calc(100% + 200px) bottom, calc(100% + 200px) bottom;
  }

  .header__title {
    max-width: 790px;
    font-size: px-to-rem(43px);
    line-height: px-to-rem(53px);
  }

  .header__list {
    max-width: 750px;
  }

  .header__item {
    font-size: px-to-rem(25px);
    line-height: px-to-rem(35px);
  }

  .header__button {
    max-width: 360px;
  }

}

@media (max-width: 1200px) {

  .header {
    background-size: 500px auto, 600px auto;
    background-position: calc(100% + 100px) bottom, calc(100% + 150px) bottom;

    &::after {
      top: 80px;
      font-size: px-to-rem(200px);
    }

  }

  .header__title {
    margin-top: 100px;
  }

}

@media (max-width: 980px) {

  .header {
    background-size: 500px auto, 600px auto;

    &::after {
      font-size: px-to-rem(130px);
      line-height: px-to-rem(182px);
    }

  }

  .header__list {
    margin: 20px 0;
    max-width: 580px;
  }

  .header__title {
    font-size: px-to-rem(24px);
    line-height: px-to-rem(34px);
    margin-top: 50px;
    max-width: 580px;
  }

  .header__item {
    font-size: px-to-rem(16px);
    line-height: px-to-rem(20px);
    background-size: 16px;
    background-position: center left;
    padding-left: 27px;
  }

  .header__two-block {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .header__button {
    max-width: 284px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__audit {
    font-size: px-to-rem(16px);
  }

  .header__socials {
    margin-top: 30px;
  }

}

@media (max-width: 780px) {

  .header {
    background: none;

    &::after {
      top: 50px;
    }

  }

  .header__wrap {
    padding-top: 84px;
  }

  .header__title {
    max-width: 100%;
    margin-top: 30px;
  }

  .header__list {
    max-width: 100%;
  }

}


@media (max-width: 480px) {

  .header {

    &::after {
      font-size: px-to-rem(89px);
      line-height: px-to-rem(125px);
      top: 50px;
    }

  }

  .header__wrap {
    padding-top: 65px;
  }

  .header__two-block {
    align-items: center;
  }

}