.header {
  position: relative;
  background: url("../img/platon-photo.png") 90% 65% no-repeat, url("../img/circle.png") 95% bottom no-repeat;
  background-size: 520px auto, 700px auto;

  &::after {
    opacity: 0.1;
    -webkit-text-stroke: 1px #707070;
    font-size: px-to-rem(159px);
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    content: "Moisok";
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
  }
  
  &::before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: #fafafa;
    position: absolute;
    left: 0;
    bottom: 0;
  }

}

.header__wrap {
  padding-top: 80px;
}

.header__title {
  margin-top: 100px;
  font-size: px-to-rem(40px);
  line-height: px-to-rem(50px);
  font-weight: 800;
  max-width: 750px;
  color: $primary;

  span {
    color: $second;
  }

}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 600px;
  box-sizing: border-box;
  margin-top: 36px;
  margin-bottom: 36px;
}

.header__item {
  padding-left: 50px;
  font-size: px-to-rem(24px);
  line-height: px-to-rem(33px);
  color: $primary;
  margin: 10px 0;
  background: url("../img/check.svg") left 10px no-repeat;
  background-size: 25px;
}

.header__button {
  @include button;
  max-width: 340px;
  margin-right: 36px;
}

.header__two-block {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}

.header__audit {
  font-size: px-to-rem(18px);
  line-height: px-to-rem(40px);
  font-weight: 500;
  color: $primary;
  padding-left: 38px;
  padding-right: 35px;
  text-decoration: none;
  background: url("../img/pdf.svg") left center no-repeat, url("../img/download.svg") right center no-repeat;

  &:hover {
    animation-name: download;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
  }

}

.header__socials {
  margin-top: 30px;
  margin-bottom: 0;
}

@keyframes download {
  0% {
    background-position: left center, right 50%;
  }
  50% {
    background-position: left center, right 0;
  }
  100% {
    background-position: left center, right 50%;
  }
}

@media (max-width: 1200px) {

  .header {
    background-size: 400px auto, 450px auto;
    background-position: right 75%, right 80%;
  }

}

@media (max-width: 1024px) {

  .header__list {
    margin: 20px 0;
    max-width: 500px;
  }

  .header__title {
    font-size: px-to-rem(28px);
    line-height: px-to-rem(38px);
    max-width: 500px;
    margin-top: 100px;
  }

  .header__item {
    font-size: px-to-rem(18px);
    line-height: px-to-rem(22px);
    background-size: 16px;
    background-position: center left;
    padding-left: 27px;
  }

  .header__two-block {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .header__button {
    max-width: 284px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__audit {
    font-size: px-to-rem(16px);
  }

  .header__socials {
    margin-top: 30px;
  }

}

@media (max-width: 780px) {

  .header {
    background: none;

    &::after {
      top: 50px;
    }

  }

  .header__wrap {
    padding-top: 84px;
  }

  .header__title {
    max-width: 100%;
    margin-top: 30px;
  }

  .header__list {
    max-width: 100%;
  }

}


@media (max-width: 480px) {

  .header {

    &::after {
      font-size: px-to-rem(89px);
      line-height: px-to-rem(125px);
      top: 50px;
    }

  }

  .header__wrap {
    padding-top: 65px;
  }

  .header__two-block {
    align-items: center;
  }

}