.works {
  background: url("../img/slider-bg.png") -350px 80% no-repeat $primary;
  position: relative;
  z-index: 1;

  &::after {
    opacity: 0.59;
    -webkit-text-stroke: 1px #707070;
    font-size: px-to-rem(159px);
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: normal;
    color: $primary;
    content: "Бизнес";
    position: absolute;
    top: -120px;
    right: 80px;
    z-index: -1;
  }

  &::before {
    opacity: 0.59;
    -webkit-text-stroke: 1px #707070;
    font-size: px-to-rem(159px);
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: normal;
    color: $primary;
    content: "Разработка";
    position: absolute;
    bottom: 80px;
    left: 100px;
    z-index: -1;
  }

}

.works__wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}

.works__title {
  @include title {
    color: $white;
    text-align: center;
    display: block;
  }
}

.works__slider {
  position: relative;
}

@media (max-width: 1024px) {

  .works {

    &::before, &::after {
      font-size: px-to-rem(70px);
      line-height: px-to-rem(120px);
    }

    &::after {
      top: -50px;
    }

    &::before {
      left: 0;
    }

  }

}

@media (max-width: 480px) {

  .works {

    &::before {
      font-size: px-to-rem(55px);
      line-height: px-to-rem(90px);
    }

  }

}