.works {
  background: url("../img/slider-bg.png") -350px 80% no-repeat $primary;
  position: relative;
  z-index: 1;

  &::after {
    opacity: 0.59;
    -webkit-text-stroke: 1px #707070;
    font-size: px-to-rem(259px);
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $primary;
    content: "Бизнес";
    position: absolute;
    top: -170px;
    right: 80px;
    z-index: -1;
  }

  &::before {
    opacity: 0.59;
    -webkit-text-stroke: 1px #707070;
    font-size: px-to-rem(259px);
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $primary;
    content: "Разработка";
    position: absolute;
    bottom: 80px;
    right: 80px;
    z-index: -1;
  }

}

.works__wrap {
  padding-top: 150px;
  padding-bottom: 50px;
}

.works__title {
  @include title {
    color: $white;
    text-align: center;
    display: block;
  }
}

.works__slider {
  position: relative;
}

@media (max-width: 1500px) {

  .works {

    &::before {
      font-size: px-to-rem(150px);
      line-height: px-to-rem(200px);
    }

  }

}

@media (max-width: 1500px) {

  .works {

    &::after {
      font-size: px-to-rem(120px);
      line-height: px-to-rem(150px);
      top: -70px;
    }

  }

  .works__wrap {
    padding-top: 50px;
  }

}

@media (max-width: 980px) {

  .works {

    &::before {
      font-size: px-to-rem(100px);
      line-height: px-to-rem(120px);
    }

  }

}

@media (max-width: 768px) {

  .works {

    &::before {
      font-size: px-to-rem(60px);
      line-height: px-to-rem(90px);
      right: 20px;
    }

    &::after {
      font-size: px-to-rem(70px);
      line-height: px-to-rem(100px);
      top: -30px;
    }

  }

}